.container {
    display: flex;
    flex-direction: row-reverse;
}

#balloon {
    max-width: 75%;
    background-color: #dcd1ed;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#content-container {
    margin: 0;
    color: #5b417c;
}

ai-button {
    margin-top: 1rem;
}