.container {
    display: flex;
    flex-direction: row;
}

.balloon {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0;
    display: flex;
    flex-direction: column;
}

#content-container {
    margin: 0;
}

ai-button {
    margin-top: 1rem;
}